<div>
  <button class="back-button" (click)="goBack()">Go Back</button>
  <button class="edit-button" (click)="editContact()">Edit Contact</button>
  <button class="delete-button" (click)="deleteContact()">Delete</button>
</div>

<div class="contact-detail" *ngIf="contact">
  <h2>{{ contact.name }} {{ contact.surname }}</h2>
  <p>Email: {{ contact.email }}</p>
  <p>Phone: {{ contact.phone }}</p>
  <p>Date of Birth: {{ contact.dateOfBirth | date }}</p>
  <p>Address: {{ contact.address }}</p>
</div>
