<section class="edit-contact">
@if (contact) {
  <form (ngSubmit)="editContact()">
    <label for="name">Name:</label>
    <input id="name" [(ngModel)]="contact.name" name="name" required>

    <label for="surname">Surname:</label>
    <input id="surname" [(ngModel)]="contact.surname" name="surname" required>

    <label for="phone">Phone:</label>
    <input id="phone" [(ngModel)]="contact.phone" name="phone" required>

    <label for="email">Email:</label>
    <input id="email" [(ngModel)]="contact.email" name="email" required>

    <label for="address">Address:</label>
    <input id="address" [(ngModel)]="contact.address" name="address" required>

    <button class="edit-contact__button" type="submit">Save Changes</button>
  </form>
}
</section>
