@import './variables.scss';

.card {
  padding: 2 * $padding;
  margin: $margin;
  background: $background;
  border-radius: $border-radius;
  box-shadow: $box-shadow;
  backdrop-filter: $backdrop-filter;
  -webkit-backdrop-filter: $backdrop-filter;
  border: $border;
  width: 320px;
}

.button {
  padding: $padding;
  margin: $margin;
  background: $background;
  border-radius: $border-radius;
  box-shadow: $box-shadow;
  backdrop-filter: $backdrop-filter;
  -webkit-backdrop-filter: $backdrop-filter;
  border: $border;
  cursor: pointer;
}

.input {
  padding: $padding;
  margin: $margin;
  background: $background;
  border-radius: $border-radius;
  box-shadow: $box-shadow;
  backdrop-filter: $backdrop-filter;
  -webkit-backdrop-filter: $backdrop-filter;
  border: $border;
  transition: $transition;

  &:focus {
    outline: none;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.25);
  }
}
