@import '../../../styles/common.scss';

.add-contact {
  @extend .card;

  &__button {
    @extend .button;
  }

  form {
    display: flex;
    flex-direction: column;
    gap: 1rem;

    label {
      position: relative;
    }

    input {
      @extend .input;
    }
  }
}

.back-button {
  @extend .button;
}


.error {
  position: absolute;
  color: red;
  font-size: 0.8rem;
  margin-top: 0.5rem;
}
